affine
amqp 
appdirs 
APScheduler 
billiard
celery 
coreapi 
Django 
django-appconf 
phygbu::django-codemirror2 
django-colorfield 
django-cors-headers 
django-filter 
django-guardian 
django-redis 
django-webpack-loader==0.7.0
djangorestframework 
djangorestframework-simplejwt
funcsigs 
itypes 
kombu 
Markdown 
olefile 
openapi-codec 
packaging 
piexif
Pillow 
psycopg2-binary
PyJWT 
pydantic
appliedgrg::pyodm
pyparsing 
pytz 
rcssmin 
redis
requests-toolbelt
requests
rfc3987
rjsmin
six
strict-rfc3339
uritemplate 
vine 
webcolors 
rio-tiler 
rio-color 
rio-cogeo 
rasterio
GDAL 
shapely
eventlet 
pyopenssl 
numpy
scipy
drf-yasg 
pip:
    django-imagekit
    drf-nested-routers
    tzlocal=2.1
    drf-jwt  # rest_framework_jwt
    djangorestframework-guardian
